*{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    background:#CDCDCD;
}
header{
    height: 50px;
    width:100%;
    background: #323232;
}
header .title{
    width: 600px;
    height: 50px;
    margin:0 auto;
}
header .title label{
    font-size: 24px;
    color: #ddd;
    line-height: 50px;
    cursor: pointer;
}
header .title input{
    border: 0;
    outline: 0;
    background: white;
    border-radius: 5px;
    padding:1px 0;
    width: 360px;
    height: 24px;
    float: right;
    margin-top: 12px;
    text-indent: 1em;
    box-shadow: 0 1px 0 rgba(255,255,255,0.24), 0 1px 6px rgba(0,0,0,0.45) inset;
}
.bigbox{
    width: 600px;
    margin:0 auto;

}
h3{
    width: 600px;
    margin:0 auto;
   height: 32px;
   padding:20px 0;
}
h3 span:nth-child(1){
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;

}
h3 span:nth-child(2){
    display: block;
    float: right;
    border-radius: 20px;
    padding: 0 5px;
    height: 20px;
    background: #E6E6FA;
    color: #666;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 5px;
    margin-right: 5px;
}
.bigbox .son{
    width: 600px;
    height: 32px;
    background: white;
    border-radius: 5px;
    border-left: 5px solid #629A9C;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.bigbox2 .son{
    border-left: 5px solid #959595;
    opacity: 0.5;
}

.bigbox .son input{
    width: 22px;
    height: 22px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
    display: block;
    float: left;
}
.bigbox .son span{
    width: 500px;
    font-size: 16px;
    display: block;
    line-height: 32px;
    float: left;
}
bigbox .son span .input{
    display: block;
    width: 500px;
    height: 100%;
    border:0;
    background: red;
}
.bigbox .son .right{
    width: 22px;
    height: 22px;
    background: #CCCCCC;
    border-radius: 50%;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
} 
.bigbox .son .right .box{
    width: 14px;
    height: 14px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 2px;
    margin-top: 2px;
    line-height: 14px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: 700;
}